<p class="lead">
  Bootstrap and will_paginate are working together beautifully.
    This sample app shows how to use them together.
</p>

<p>Check out the following lists:</p>

<ul>
  <% categories.each do |c| %>
    <li class="<%= 'active' if current?(c.plural) %>"><a href="<%= url(c.plural) %>"><%= c.plural.capitalize %></a></li>
  <% end %>
</ul>
