<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @one.name %></h3>
      </div>
      <div class="panel-body">
        <p><%= @one.detail %></p>
        <p>ID: <%= @one.id %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <img src="<%= @one.img_url %>">
  </div>
</div>
